<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiwen.business.mapper.IUserConfigMapper">
    <resultMap id="BaseResultMap" type="com.baiwen.business.model.UserConfig">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="config_type" jdbcType="VARCHAR" property="configType"/>
        <id column="config_value" jdbcType="VARCHAR" property="configValue"/>
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>
    <sql id="Base_Select_Sql">
        id,config_type,config_value,user_id
    </sql>
    <select id="getUserConfig" parameterType="java.util.Map" resultMap="BaseResultMap">
        select <include refid="Base_Select_Sql" />
        from user_config where 1=1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="configType != null and configType != ''">
            and config_type = #{configType}
        </if>
    </select>

    <insert id="addUserConfig" parameterType="com.baiwen.business.model.UserConfig">
        insert into userconfig (config_type,config_value,user_id)
        VALUES (#{configType},#{configValue},#{userId})
    </insert>

    <update id="updateUserConfig" parameterType="com.baiwen.business.model.UserConfig">
        update userconfig set
        config_value = #{configValue}
        where user_id = #{userId} and config_type = #{configType}
    </update>
</mapper>